@use '../abstracts/variables' as *;

.loggedOutHero {
  position: relative;
  margin-bottom: 5rem;
  h1,
  p {
    color: black;
  }
}

.sessionRow {
  padding: 1rem 3rem !important;
  margin-bottom: 3rem !important;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
  border-radius: 8px;

  &:first-child {
    box-shadow: 0px 16px 24px rgba(69, 77, 99, 0.2);
  }

  .col-6:first-child {
    border-left: 8px solid black !important;
    padding-left: 2rem;
  }

  .sessionTitle {
    font-size: 1.7rem;
  }
}

.steps {
  margin-bottom: 5rem;
  .stepNumber {
    color: $brandBlue;
    padding-right: 1rem;
  }
}

.blur:before {
  // https://www.figma.com/file/oKNTklGeYLIj1A6X5r8ENm/Student-portal?node-id=2704%3A5226
  content: ''; // https://stackoverflow.com/a/15251172/470749
  position: absolute;
  z-index: -1;
  background: linear-gradient(185.3deg, #e6f9ff 16.29%, #ffe3f7 93.88%);
  filter: blur(250px);
  transform: matrix(-0.88, -0.56, 0.44, -0.85, 0, 0);
  min-width: 1067px;
  min-height: 649px;
  top: -200px;
  left: 400px;
}

.startsSoon {
  color: gray;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
