body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  padding: 0 1rem 1rem 1rem;
  margin: 0;
  background: #fff;
  color: #333;
}

header,
main {
  margin: 0 auto;
}

.header-logo {
  font-size: 1.5rem;
  a {
    color: black;
    text-decoration: none;
    img {
      margin-right: 0.5rem;
    }
  }
}

li,
p {
  line-height: 1.5rem;
}

hr {
  border: 1px solid #ddd;
}

iframe {
  background: #ccc;
  border: 1px solid #ccc;
  height: 10rem;
  width: 100%;
  border-radius: 0.5rem;
  filter: invert(1);
}

label.question,
.mantine-TextInput-label,
label.mantine-MultiSelect-label,
div.mantine-RadioGroup-label,
.mantine-Select-label {
  font-size: 1rem;
  font-weight: bold;
}

.form-control::placeholder {
  color: hsl(210deg 11% 71%);
}

.hint {
  // color: hsl(0deg 0% 50%);
  color: hsl(210deg 7% 56%); // Gray. Matches Mantine `description` element.
  font-size: 0.9rem;
}

// input[type='radio' i] {
//   margin-right: 0.3rem;
// }

.mantine-TextInput-root,
.mantine-MultiSelect-root,
.mantine-RadioGroup-root,
.mantine-Select-root {
  border: 0;
  padding: 0;
  margin-top: 2rem;
}

.mantine-RadioGroup-description,
.mantine-MultiSelect-description,
.mantine-Select-description {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
